USE [master]
GO
/****** Object:  Database [Phoenix_Users]    Script Date: 12/3/2017 10:41:30 PM ******/
CREATE DATABASE [Phoenix_Users]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Phoenix_Users', FILENAME = N'D:\RDSDBDATA\DATA\Phoenix_Users.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Phoenix_Users_log', FILENAME = N'D:\RDSDBDATA\DATA\Phoenix_Users_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phoenix_Users].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phoenix_Users]
GO
USE [Phoenix_Users]
GO
/****** Object:  User [pctadmin]    Script Date: 12/3/2017 10:41:33 PM ******/
CREATE USER [pctadmin] FOR LOGIN [pctadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pctadmin]
GO
/****** Object:  Table [dbo].[ClientsDB]    Script Date: 12/3/2017 10:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientsDB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Logged/Last Logged] [nvarchar](50) NOT NULL,
	[LastConnected] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessagesDB]    Script Date: 12/3/2017 10:41:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessagesDB](
	[mID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](50) NOT NULL,
	[IsPrivate] [nvarchar](10) NOT NULL,
	[IsImage] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taskmanagement]    Script Date: 12/3/2017 10:41:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taskmanagement](
	[TaskId] [int] NOT NULL,
	[TaskDescription] [varchar](150) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Deadline] [date] NULL,
	[AssignedTo] [varchar](100) NULL,
	[Priority] [varchar](100) NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_taskmanagement1] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/3/2017 10:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [varchar](4) NULL,
	[Name] [varchar](150) NULL,
	[Password] [varchar](150) NULL
) ON [PRIMARY]
GO
USE [master]
GO
